




<%- include('partials/header');  -%>
<h1 class="ui justified header">Login</h1>
<div class="ui two column centered grid">

<form class="ui form" action="/login" method="post">
    <label class="label"> Email </label>
    <input type="text" name="username" />
    <label class="label"> Pasword </label>
    <input type="password" name="password" id="password"><i class="eye slash icon Medium" id="togglePassword"></i>
    <button style="margin-top: 20px" class="ui black button" type="submit">Login</button>
</form>
</div>

<%- include('partials/footer');  -%>



